:root {
  --tg-theme-bg-color: #fff;
  --tg-theme-text-color: #0a0a0a;
  --tg-theme-hint-color: #929292;
  --tg-theme-link-color: #207ae4;
  --tg-theme-button-color: #5bc8fb;
  --tg-theme-button-text-color: #fffeec;
  --tg-theme-secondary-bg-color: #f3f2f9;

  --default-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

* {
  border-radius: 0px !important;
  font-weight: bold !important;
  font-size: 15px !important;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background: var(--tg-theme-secondary-bg-color);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 45px !important;
  margin: 10px 0px;
}

h3 {
  font-size: 25px !important;
  margin: 10px 0px;
}

h4 {
  font-size: 20px !important;
  margin: 10px 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin-bottom: 2px;
}

small {
  font-size: 12px !important;
}

.contentWrapper {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color) !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contentWrapper > .ant-row {
  padding: 15px 10px;
}

.ant-btn {
  height: fit-content !important;
}

.ant-divider {
  margin: 0px;
}

.ant-input,
.ant-select,
.ant-select-item {
  background-color: unset !important;
}

.ant-radio-button-wrapper {
  padding-inline: 45px;
}

.ant-card-actions > li {
  margin: 0px !important;
}

.ant-card-body,
.ant-card-head {
  padding: 10px !important;
}

.ant-card-head h4 {
  margin: 0px !important;
}

.ant-switch {
  border-radius: 100px !important;
}

.marketList {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--tg-theme-bg-color);
  z-index: 1000;
  padding: 15px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  background-color: var(--tg-theme-secondary-bg-color);
  border-top: 0.5px solid var(--tg-theme-button-color);
  z-index: 1000;
}

.token-selector {
  background-color: var(--tg-theme-secondary-bg-color);
}

.border {
  border: 0.5px solid var(--tg-theme-hint-color);
}
